__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

.pytest_cache/
.ruff_cache/
.mypy_cache/

.ipynb_checkpoints/

data/processed/*.csv
data/processed/*.xlsx
data/processed/*.parquet

outputs/models/*
outputs/reports/*
outputs/figures/*
outputs/predictions/*

!outputs/models/.gitkeep
!outputs/reports/.gitkeep
!outputs/figures/.gitkeep
!outputs/predictions/.gitkeep

.DS_Store
Thumbs.db

.vscode/
.idea/

*.log